*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

// html {
//     // font-size: 62.5%;
//   //  min-height: 100% !important;
// }

body {
    font-family: sans-serif;
    /* padding: 0 3rem; */
    box-sizing: border-box;
    overflow-x: hidden;
    // height: 100vh !important;
}

// .build-price {
//   border: 5px solid red;
//   height: 50% !important;
// }

// .fontawesome-i2svg-active {
//   border: 5px solid blue;
//   height: 2px !important;
//   margin: 0;
//   padding: 0;
// }
// .font-awesome-i2svg-complete{
//   height: 0 !important;
//   border: 5px solid black;
// }
i {
color: none;
}