.carSlides {display: none;}

#carSlideShow {
  position: relative;
}
body {
  margin: 0;
  padding: 0;
}


@keyframes fadeIn {
  from {opacity: .3;}
  to {opacity: 1;}
}

@keyframes center {
  0% {
    position: absolute;
    bottom: 0;
    right: -50%;
  }
  100% {
    position: absolute;
    right: -15%;
    bottom: 0;
    transform: translateX(-50%);
    display: flex;
    align-self: flex-end;
  }
}
@keyframes mediaOne {
  0% {
    position: absolute;
    bottom: 0;
    right: -50%;
  }
  100% {
    position: absolute;
    right: -25%;
    bottom: 0;
    transform: translateX(-50%);
    display: flex;
    align-self: flex-end;

  }
}
@keyframes mediaTwo {
  0% {
    position: absolute;
    bottom: 0;
    right: -50%;
  }
  100% {
    position: absolute;
    right: -30%;
    bottom: 0;
    transform: translateX(-50%);
    display: flex;
    align-self: flex-end;

  }
}
@keyframes mediaThree {
  0% {
    position: absolute;
    bottom: 0;
    right: -100%;
  }
  100% {
    position: absolute;
    right: -35%;
    bottom: 0;
    transform: translateX(-50%);
    display: flex;
    align-self: flex-end;

  }
}











#carSlides-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr, 1fr;
}
.sliderbg  {
  margin-top:.3rem;
  width: 100%;
  height: 80vh;
  grid-column: 1/-1;
  grid-row: 1/ -1;
  grid-gap: 1.5rem;
}
.carSlides-img {
  grid-column: 8/ span 3;
  grid-row: 1 / span 2;
  z-index: 1;
  display: flex;
  align-self: flex-end;
  width: 45rem;
  position: relative;
  animation: center 1s;
  animation-fill-mode: forwards;
}
.menu-container {
  grid-column: 2 / span 2;
  grid-row: 1/2;
  width: 22rem;
  height: 24rem;
  display: block;
  margin: auto 0;
  margin-left: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  animation: fadeIn 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
  border-radius: 1%;
  padding: 0 .5rem;
}

/*====================two==================*/










/*------------MENU--------------*/

.menu-year,
.menu-model,
.menu-header,
.menu-price{
  animation: fadeIn 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 1;
  padding: 0 0 0 1rem;
  font-family: tahoma;
}
.menu-year {
  font-size: 1rem;
  font-family: 'Trebuchet MS';
  padding-top: .5rem;
  line-height: 1;
}
.menu-model {
  font-size: 1.5rem;
  display: block;
  margin: 0 auto;
}
.menu-header {
  text-align: center;
  font-size: 2.5rem;
  line-height: 1;
  display: flex;
  align-self: flex-start;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.menu-price,
.menu-lease,
.menu-due {
  text-align:center;
  text-transform: uppercase;
  line-height: 1;
  font-family: verdana;
}

.menu-hr {
  overflow: visible; /* For IE */
  border: none;
  border-top: medium double rgb(51, 51, 51);
  color: rgb(51, 51, 51);
  text-align: center;
  margin-bottom: 10%;
}
.menu-button {
  display: block;
  margin: 5% auto 0 auto;
  padding: 1rem 2rem;
  border-radius: 2rem;
  background-color: rgb(252, 6, 6);
  border: transparent;
  color: white;
  transition: .2s;
}
.menu-button:hover{
  box-shadow: 0 5px 5px gray;
  transform: scale(1.1);
  background-color: rgb(167, 7, 7);
  text-decoration: none;
}
.menu-button:active{
  box-shadow: 0 2px 2px gray;
  transform: scale(1);
}
.menu-button:focus {
  outline: 0;
}

.slider-button {
  &:hover {
    text-decoration: none;
  }
}




/*=================PREV NEXT BUTTONS=============*/


/*======================buttons==================*/

.slideButton {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(221, 20, 20, 0.788);
  border: transparent;
  height: 5rem;
  width: 3rem;
  font-size: 2rem;
  transition: .2s;
  cursor: pointer;
  outline: 0;
  /* opacity:0; */
}
.slideButton:hover{
  background-color: rgba(221, 20, 20, 0.788);
  color: rgb(204, 194, 194);
}
.slideBack {
position: absolute;
top: 50%;
left: 0;
transform: translateY(-50%);

  z-index: 5;
}
.slideForward {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 5;
}

.slideButton:focus{
  outline: 0;
}












@media(max-width: 1300px){
  .carSlides-img{
    width: 40rem;
  }
}
@media(max-width: 1225px){
  .carSlides-img{
    animation: mediaOne 1s;
    animation-fill-mode: forwards;
  }
}
@media(max-width: 1100px){
  .carSlides-img {
    width: 35rem;
  }
}
@media(max-width: 1000px){
  .carSlides-img {
    width: 30rem;
  }
  .menu-container {
    width: 15rem;
  }
}
@media(max-width: 850px){
  .carSlides-img{
    width: 30rem;
  }
  .menu-container{
    grid-column: 1 / span 2;
    grid-row: 1/2;
  }
}
@media(max-width: 750px){
  .carSlides-img{
    animation: mediaTwo 1s;
    animation-fill-mode: forwards;
  }
  .menu-container {
    height: 18rem;
    margin: .5rem .5rem;
  }
  .menu-year {
    font-size: .8rem;

  }
  .menu-header {
    font-size: 1.6rem;
  }
  .menu-price,
  .menu-lease,
  .menu-due {
    font-size: .6rem;
  }
  .menu-button {
    padding: .5rem 1rem;
    border-radius: 2rem;

  }
  .slideButton {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(221, 20, 20, 0.788);
    border: transparent;
    height: 4rem;
    width: 2rem;
  }
}

@media(max-width:600px) {
  .sliderbg {
    height: 50vh;
  }
  .carSlides-img{
    width: 26rem;
  }
  .menu-container {
    display:none;
  }
  .carSlides-img{
    position: absolute;
    right: -20%;
    animation: mediaThree 1s;
    animation-fill-mode: forwards;
  }
  .slideButton {
    display:none;
  }
}


@media(max-width:500px) {
  .carSlides-img{
    width: 22rem;
  }
  .sliderbg {
    height: 15rem;
  }
}
@media(max-width:410px) {
  .carSlides-img{
    width: 18rem;
  }
}
@media(max-width:350px) {
  .carSlides-img{
    width: 15rem;
    position:absolute;
    animation: none 1s;
    animation-fill-mode: forwards;
  }
}

