#car-build__colors{
  margin-top:3rem;
}
.car-build__colors {
  display: flex;
  justify-content: center;
  background-color: rgba(235, 235, 243, 0.836);
  padding: 2% 0;
  border: none;
  align-items:center;
}
.car-colors {
  border: 1px solid transparent;
  border-radius: 25%;
  width: 4rem;
  height: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  transition: .2s;
  cursor: pointer;

  &:hover {
    transform: scale(1.07);
  }
  &:focus {
    outline: none;
    border-radius: 25%;
    transform: scale(1.2);
    border: 1px groove rgba(160, 160, 238, 0.664);
  }
}

#white {
  background-color: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
}
#black {
  background-color: black;
  box-shadow: 0 3px 5px rgba(78, 76, 76, 0.7);
}

#gray {
  background-color: rgb(169, 169, 169);

  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
}
#smoke {

  background-color: rgb(128, 128, 128);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
}

#blue {
  background-color: blue;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
}
#red {
  background-color: red;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
}



@media(max-width: 900px) {
  .car-colors{
    width: 3rem;
    height: 3rem;
  }
}

@media(max-width: 500px) {
  .car-colors{
    width: 2rem;
    height: 2rem;
  }
}
@media(max-width: 400px) {
  .car-colors{
    width: 1rem;
    height: 1rem;
    padding: 0;
  }
}



