

.explore {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: .5rem;
  grid-auto-rows: 10rem;

  &__heading {
    margin: 3rem 0 1rem 0;
    text-align: center;
  }

  &-car {
    position: relative;
    cursor: pointer;

    &__side {
      display: inline-block;
      max-width: 100%;
    }

    &__front {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;
    }

    &:hover &__front {
      display: inline-block;
    }

    &__info {
      display: inline-block;
      max-width: 100%;
      height: auto;
      position: absolute;
      top: 5rem;
      left: 3rem;
    }
    
    &__model {
      display: inline-block;
      margin-top: 1rem;
    }
    
    &__price,
    &__mileage {
      font-size: .7rem;
    } 
  }

}



@media(max-width:968px) {
  .explore {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5rem;
    grid-auto-rows: 10rem;
  }
  .explore-car__model{
    margin: 0;
  }
}
@media(max-width:600px) {
  .explore {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .5rem;
    grid-auto-rows: 10rem;
  }
  
  .explore-car__side {
    display: inline-block;
    max-width: 100%;
  }
  .explore-car__front {
    max-width: 100%;
  }
  .explore-car__front:hover {
    max-width: 100%;
  }

}