

.gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 5vw);
  margin-top:2rem;
  // grid-gap: 1.5rem;
  // padding: 1.5rem;


  &__item {
    &--1 {
      grid-row: 4 / span 8;
      grid-column: 1 / span 5;
      z-index: 2;
    }
    &--2 {
      grid-row: 1  / span 4;
      grid-column: 1 / span 4;
      z-index:3;
    }
    &--3 {
      grid-row: 1  / span 5;
      grid-column: 4 / span 6;
      z-index:3;
    }
    &--4 {
      grid-row: 5  / span 7;
      grid-column: 5 / span 4;
      z-index:3;
    }
    &--5 {
      grid-row: 1  / span 6;
      grid-column: 8 / span 6;
      z-index:2;
    }
    &--6 {
      grid-row: 5 / span 7;
      grid-column: 8 / span 5;
      z-index: 2;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    // object-position: 0 10%;
    display: block;

    cursor: pointer;
  }

}


/*-----------------MODAL----------------*/

.galleryModel,
.galleryModel2,
.galleryModel3,
.galleryModel4,
.galleryModel5 {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: rgba(0, 0, 0, .8);
}


//modal img position & size
.gallery-slides img,
.gallery-slides2 img,
.gallery-slides3 img,
.gallery-slides4 img,
.gallery-slides5 img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}


// X for closing modal
.gallery-close {
  color: white;
  font-size: 4rem;
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

//Prev and Next arrows
.gallery-arrows {
  color: white !important;
  font-weight: bold;
  font-size: 3rem;
  transition: all 1s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  padding: 2rem;
}

.gallery-prev {
position: absolute;
top: 50%;
left: 10%;
transform:translateY(-50%);
}


.gallery-next {
  position: absolute;
  top: 50%;
  right: 10%;
  transform:translateY(-50%);
}

//Add black background transition to buttons on hover
.gallery-prev:hover,
.gallery-next:hover {
background-color: rgba(0, 0, 0, 0.8);
}

@media(max-width: 768px){
  //modal img position & size
  .gallery-slides img,
  .gallery-slides2 img,
  .gallery-slides3 img,
  .gallery-slides4 img,
  .gallery-slides5 img {
    width: 75%;
  }
  .gallery-arrows{
    padding: 1rem;
  }
  .gallery-prev {
    left: 5%;
  } 
  .gallery-next {
    right: 5%;
  }
}
@media(max-width: 500px){
  //modal img position & size
  .gallery-slides img,
  .gallery-slides2 img,
  .gallery-slides3 img,
  .gallery-slides4 img,
  .gallery-slides5 img {
    width: 85%;
  }
  .gallery-arrows{
    padding: 0 .3rem;
  }
  .gallery-prev {
    left: 1%;
  } 
  .gallery-next {
    right: 1%;
  }
  .gallery-prev:hover,
  .gallery-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
