


#navi-toggle {
  display: none;
}

.navbar{
  position: fixed;
  top: 0;
  right: 5%;
  z-index: 115;
}
.img__logo {
  display: block;
  margin: 0 auto;
  padding: .3rem 0;
  width: 10.5rem;
  z-index: 109;
  position:relative;
}

.navigation__button {
  cursor: pointer; 
}

.nav-all {
  position: absolute;
  top: 1rem;
  right:5%;
  width: 2rem;
  height: 1.2rem;
  z-index: 115;
}

/* navigation hamburger lines */
.navigation__icon1 {
  position: absolute;
  top: 10%;
  left: 0;
  width: 2rem;
  height: 2px;
  background-color: #333;
  display: inline-block; 
  z-index: 115;
}
.navigation__icon2 {
  position: absolute;
  top:50%;
  left: 0;
  // transform: translateY(-50%);
  width: 2rem;
  height: 2px;
  background-color: #333;
  display: inline-block; 
  z-index: 115;
}
.navigation__icon3 {
  position: absolute;
  top: 100%;
  left: 0;
  // transform: translateY(-50%);
  width: 2rem;
  height: 2px;
  background-color: #333;
  display: inline-block; 
  transition: .5;
  z-index: 115;
}

.navigation__icon1:checked {
  background-color: blue;
}

.nav-nav {
  height: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 110;
  background-color: #111;
  opacity: 0.99;
  overflow: hidden;
  transition: 0.5s;
  display: flex;
  justify-content:center;
}

.nav-nav a {
  padding: 1rem;
  text-decoration: none;
  font-size: 1.3rem;
  color: #ccc;
  display: block;
  transition: 0.3s;
  justify-content: center;
  align-self: center;
  z-index: 104;
}

.nav-nav a:hover {
  color: #fff;
}

//iPad
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
  .navbar {
    right:10%;
  }
}


@media(max-width: 768px){
  .img__logo {
    width: 7rem;
    margin-top:.2rem;

  }
  
}


@media(max-width:450px){
  .nav-all {
    top: .4rem;
  }
  .img__logo {
    width: 5rem;
    // margin-bottom:.5rem;
  }
  .nav-nav a {
    font-size: 1rem;
  }
  .navigation__icon2 {
    top:55% !important;
  }
}

