<%include partials/header%>
<body class="checkout-page">

<!-- Navigation -->
<nav class="navbar">
  <span class="open-slide">
      <input type="checkbox" class="navigation__checkbox hamburger" id="navi-toggle">

      <label for="navi-toggle" class="navigation__button">
        <span class="nav-all">
          <span class="navigation__icon1"></span>
          <span class="navigation__icon2"></span>
          <span class="navigation__icon3"></span>
        </span>
      </label>
  </span>
</nav>
<img class="img__logo" src="img/toyota-logo.png" alt="">
<div id="nav-menu" class="nav-nav">
    <a href="index.html">Explore</a>
    <a href="build-choose.html">Build Car</a>
</div>

<div class="navCloseFunction" onclick="navCloseFunction(event)">

  <div class="container-fluid checkout-container">
    <div class="row checkout-all">
      <div class="col-md-4">
          <img src="" class="checkout-carImg" alt="">
      </div>
      <div class="col-md-8 checkout">
        <div class="checkout-model"></div>
        <div class="checkout-car"></div>
        <div class="checkout-price">Price</div>
        <div class="checkout-color">Color</div>
        <div class="checkout-engine">Engine Choice</div>
        <div class="checkout-wheels">Wheel Locks</div>
        <div class="checkout-mats">Leather Mats</div>
        <div class="checkout-cargo">Cargo-Tote</div>
        <div class="checkout-total">Total</div>
        <div class="checkout-options-color">Car Color</div>
        <div class="checkout-options-engine">Engine Choice</div>
        <div class="checkout-options-wheels">Wheel Locks</div>
        <div class="checkout-options-mats">Leather Mats</div>
        <div class="checkout-options-cargo">Cargo-Tote</div>
        <div class="checkout-options-car"></div>
        <div class="checkout-options-engine-cost">Engine Choice</div>
        <div class="checkout-options-wheels-cost">Wheel Locks</div>
        <div class="checkout-options-mats-cost">Leather Mats</div>
        <div class="checkout-options-cargo-cost">Cargo-Tote</div>
        <div class="checkout-options-total-cost"></div>
      </div>

    </div>
  </div>

  <div class="checkout-button-back">
    <a href="/build-price" class="z"><button class="btn-purchase"><i class="fas fa-long-arrow-alt-left"></i> Keep Building</button></a>
  </div>
  <div class="checkout-button-purchase">
    <a href="/purchased" class="z"><button class="btn-purchase"> Purchase Car <i class="fas fa-long-arrow-alt-right"></i></button></a>
  </div>
    <footer class="footer-checkout">
      <p class="copy"> Copyright Toyota &copy;</p>
      <div class="social">
        <i class="fab fa-facebook-f footer-social"></i>
        <i class="fab fa-instagram footer-social"></i>
        <i class="fab fa-youtube footer-social"></i>
        <i class="fab fa-twitter footer-social"></i>
      </div>
    </footer>

</div><!--footer bottom end-->
</div> <!--navCloseFunction end-->

<%include partials/footer%>