<%include partials/header%>
<body class="index">

<!-- Navigation -->
<nav class="navbar">
  <span class="open-slide">
      <input type="checkbox" class="navigation__checkbox hamburger" id="navi-toggle">

      <label for="navi-toggle" class="navigation__button">
        <span class="nav-all">
          <span class="navigation__icon1"></span>
          <span class="navigation__icon2"></span>
          <span class="navigation__icon3"></span>
        </span>
      </label>
  </span>
</nav>
<img class="img__logo" src="img/toyota-logo.PNG" alt="">
<div id="nav-menu" class="nav-nav">
    <a href="/">Explore</a>
    <a href="/build-choose">Build Car</a>
    <!-- <a href="#">Services</a>
    <a href="#">Contact</a> -->
</div>

<div class="navCloseFunction" onclick="navCloseFunction(event)">

<section id="carSlideShow">
  <div class="carSlides">
    <div id="carSlides-grid">    
      <img class="carSlides-img" src="img/slider/86.png">
      <img class="sliderbg" src="img/slider/snow1.jpg">
      <div class="menu-container">
          <p class="menu-year">The 2018<span class="menu-model">Toyota 86</span></p>
          <p class="menu-header">A Driving Experience</p>
          <hr class="menu-hr">
          <p class="menu-price">Starting at $26,255</p>
          <p class="menu-lease">$420 per month for 36 months, </p>
          <p class="menu-due">$3,000 due at signing.</p>
          <a href="build-price" class="slider-button" onclick="t86SessionStorage()"><button class="menu-button">Learn More</button></a> 
      </div>
    </div> 
  </div> 
  <div class="carSlides">
    <div id="carSlides-grid">    
      <img class="carSlides-img" src="img/slider/camry-1.png">
      <img class="sliderbg" src="img/slider/road1a.jpg">
      <div class="menu-container">
        <p class="menu-year">The 2018<span class="menu-model">Toyota Camry</span></p>
        <p class="menu-header">A Thrilling Adventure</p>
        <hr class="menu-hr">
        <p class="menu-price">Starting at $23,495</p>
        <p class="menu-lease">$400 per month for 36 months, </p>
        <p class="menu-due">$2,500 due at signing.</p>
        <a href="build-price" class="slider-button" onclick="camrySessionStorage()"><button class="menu-button">Learn More</button></a> 
      </div>
    </div>
  </div> 
  <div class="carSlides">
    <div id="carSlides-grid">    
      <img class="carSlides-img" src="img/slider/avalon2.png">
      <img class="sliderbg" src="img/slider/road2a.jpg">
      
      <div class="menu-container">
        <p class="menu-year">The 2018<span class="menu-model">Toyota Avalon</span></p>
        <p class="menu-header">Affordable Luxury</p>
        <hr class="menu-hr">
        <p class="menu-price">Starting at $33,500</p>
        <p class="menu-lease">$500 per month for 36 months, </p>
        <p class="menu-due">$3,500 due at signing.</p>
        <a href="build-price" class="slider-button" onclick="avalonSessionStorage()"><button class="menu-button">Learn More</button></a> 
      </div>
    </div>
  </div>
  <div class="carSlides">
    <div id="carSlides-grid">    
      <img class="carSlides-img" src="img/slider/corollaSlide1.png">
      <img class="sliderbg" src="img/slider/road3b.jpg">
      <div class="menu-container">
        <p class="menu-year">The 2018<span class="menu-model">Toyota Corolla</span></p>
        <p class="menu-header">Style for the Future</p>
        <hr class="menu-hr">
        <p class="menu-price">Starting at $18,600</p>
        <p class="menu-lease">$325 per month for 36 months, </p>
        <p class="menu-due">$2,000 due at signing.</p>
        <a href="build-price" class="slider-button" onclick="corollaSessionStorage()"><button class="menu-button">Learn More</button></a> 
      </div>
    </div>
  </div> 
  <button class="slideButton slideBack" onclick="plusDivs(-1)">&#10094;</button>
  <button class="slideButton slideForward" onclick="plusDivs(1)">&#10095;</button>
</section>

<!--SPEC BUTTONS-->
  <div class="specs__options"> 
    <a href="/build-choose" class="specs__options--icons icon-car">
      <i class="fas fa-car icon-basic-car icon-basic"></i>
      <p class="options-text" align="center">Build <br>& Price</p>
    </a>
    <!--
    <a href="/map" class="specs__options--icons icon-geo">
      <i class="fas fa-map-marker icon-basic icon-marker"></i>
      <p class="options-text" align="center">Find a <br> Dealership</p> 
    </a>-->
  </div>

<!--explore all vehicles section-->
  <h2 class="explore__heading">Explore all Vechicles</h2> 
  <div class="explore">
    <div class="explore-car">
        <a href="/build-price"><img class="camry explore-car__side" src="img/explore__vehicles/camry/camry-red/red-camry-side.PNG" alt="2018 camry">
      <img class="camry explore-car__front" src="img/explore__vehicles/camry/camry-red/red-camry-front-small.PNG" alt="2018 camry front"></a>
      <div class="explore-car__info" id="camry">
        <div class="explore-car__model"><strong>2018 Camry</strong></div> 
        <div class="explore-car__price">$23,495</div>
        <div class="explore-car__mileage">29/41 est MPG</div>
      </div>
    </div>  
    <div class="explore-car">
      <a href="/build-price"><img class="corolla explore-car__side" src="img/explore__vehicles/corolla/2018-corolla.PNG" alt="2018 corolla">
        <img class="corolla explore-car__front" src="img/explore__vehicles/corolla/2018-corolla-front.PNG" alt="2018 corolla front">
      </a>
      <div class="explore-car__info" id="corolla">
        <div class="explore-car__model"><strong>2018 Corolla</strong></div> 
        <div class="explore-car__price">$18,550 </div>
        <div class="explore-car__mileage">28/36 est MPG</div>
      </div>
    </div>
    <div class="explore-car">
      <a href="/build-price"><img class="t86 explore-car__side" src="img/explore__vehicles/t86-side.PNG" alt="2018 t86">
        <img class="t86 explore-car__front" src="img/explore__vehicles/t86-front.PNG" alt="2018 86 front">
      </a>
      <div class="explore-car__info" id="t86">
        <div class="explore-car__model"><strong>2018 86</strong> </div>
        <div class="explore-car__price">$26,255 </div>
        <div class="explore-car__mileage">21/28 est MPG</div>
      </div>
    </div>
    <div class="explore-car">
      <a href="/build-price"><img class="yaris explore-car__side" src="img/explore__vehicles/yaris-side.PNG" alt="2018 yaris">
        <img class="yaris explore-car__front" src="img/explore__vehicles/yaris-front.PNG" alt="2018 yaris front">
      </a>
      <div class="explore-car__info" id="yaris">
        <div class="explore-car__model"><strong>2018 Yaris</strong> </div>
        <div class="explore-car__price">$15,635 </div>
        <div class="explore-car__mileage">30/36 est MPG</div>
      </div>
    </div>
    <div class="explore-car">
      <a href="/build-price"><img class="avalon explore-car__side" src="img/explore__vehicles/avalon-side.PNG" alt="2018 avalon">
        <img class="avalon explore-car__front" src="img/explore__vehicles/avalon-front.PNG" alt="2018 avalon front">
      </a>
      <div class="explore-car__info" id="avalon">
        <div class="explore-car__model"><strong>2018 Avalon</strong> </div> 
        <div class="explore-car__price">$33,500 </div>
        <div class="explore-car__mileage">21/30 est MPG</div>
      </div>
    </div>
  </div> 
  <footer class="footer">
      <p class="copy"> Copyright Toyota &copy;</p>
      <div class="social">
        <i class="fab fa-facebook-f footer-social"></i>
        <i class="fab fa-instagram footer-social"></i>
        <i class="fab fa-youtube footer-social"></i>
        <i class="fab fa-twitter footer-social"></i>
      </div>
    </footer>


</div> <!--NavFunctionality End-->


<%include partials/footer%>