<%include partials/header%>
<body>
 <!-- Navigation -->
<nav class="navbar">
    <span class="open-slide">
        <input type="checkbox" class="navigation__checkbox hamburger" id="navi-toggle">
  
        <label for="navi-toggle" class="navigation__button">
          <span class="nav-all">
            <span class="navigation__icon1"></span>
            <span class="navigation__icon2"></span>
            <span class="navigation__icon3"></span>
          </span>
        </label>
    </span>
  </nav>
  <img class="img__logo" src="img/toyota-logo.png" alt="">
  <div id="nav-menu" class="nav-nav">
    <a href="/">Explore</a>
    <a href="/build-choose">Build Car</a>
  </div>


  <div class="map-dealership">Find a Dealership near you</div>   
  <div class="map"></div>


  <script src="js/map.js"></script>
  <script src="js/main.js"></script>
  
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgGM-6T6s5uLyFe2Of7Hz2UhjwW29HVkA&callback=initMap">
  </script>
</body>
</html>
